USE [NXJC]
GO
/****** Object:  Table [dbo].[system_TypeDictionary]    Script Date: 2016-04-18 8:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[system_TypeDictionary](
	[TYPE_ID] [varchar](64) NOT NULL,
	[TYPE_NAME] [varchar](64) NOT NULL,
	[GROUP_ID] [varchar](64) NOT NULL,
	[DISPLAY_INDEX] [int] NOT NULL,
	[REMARK] [varchar](128) NULL,
	[ENABLED] [bit] NOT NULL,
 CONSTRAINT [PK_system_TypeDictionary] PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
