USE [NXJC]
GO
/****** Object:  Table [dbo].[analyse_KPI_Tags]    Script Date: 2016-04-18 8:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[analyse_KPI_Tags](
	[ANALYSE_DATA_ID] [uniqueidentifier] NOT NULL,
	[ANALYSE_DATA_TEXT] [varchar](64) NOT NULL,
	[ANALYSE_DATA_TAG] [varchar](128) NOT NULL,
	[ANALYSE_DATA_TABLE] [varchar](128) NULL,
	[ANALYSE_DATA_CATEGORY] [varchar](64) NOT NULL,
	[PRODUCTION_LINE_TYPE] [varchar](64) NULL,
	[USER_ID] [varchar](64) NULL,
	[ANALYSE_DATA_VALUE] [decimal](14, 4) NULL,
	[ANALYSE_DATA_GROUP] [varchar](64) NULL,
	[DISPLAY_INDEX] [int] NOT NULL,
	[OTHER_INFO] [varchar](256) NULL,
	[ENABLED] [bit] NOT NULL,
 CONSTRAINT [PK_system_KPI123] PRIMARY KEY CLUSTERED 
(
	[ANALYSE_DATA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[analyse_KPI_Tags] ADD  CONSTRAINT [DF_system_KPI123_ANALYSIS_DATA_ID]  DEFAULT (newid()) FOR [ANALYSE_DATA_ID]
GO
ALTER TABLE [dbo].[analyse_KPI_Tags] ADD  CONSTRAINT [DF_system_KPI123_DISPLAY_INDEX]  DEFAULT ((1)) FOR [DISPLAY_INDEX]
GO
ALTER TABLE [dbo].[analyse_KPI_Tags] ADD  CONSTRAINT [DF_system_KPI123_ENABLED]  DEFAULT ((1)) FOR [ENABLED]
GO
