USE [NXJC]
GO
/****** Object:  Table [dbo].[测试电表采集周期]    Script Date: 2016-04-18 8:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[测试电表采集周期](
	[vDate] [datetime] NULL,
	[Events] [nvarchar](50) NULL
) ON [PRIMARY]

GO
