USE [NXJC]
GO
/****** Object:  Table [dbo].[report_TeamClinkerYearlyProcessEnergyConsumption]    Script Date: 2016-04-18 8:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_TeamClinkerYearlyProcessEnergyConsumption](
	[ID] [uniqueidentifier] NOT NULL,
	[KeyID] [uniqueidentifier] NULL,
	[vDate] [nchar](2) NULL,
	[TeamA_Electricity_RawBatch] [bigint] NULL,
	[TeamA_Electricity_RawBatchGrinding] [bigint] NULL,
	[TeamA_Electricity_Clinker] [bigint] NULL,
	[TeamA_Electricity_CoalDust] [bigint] NULL,
	[TeamA_Consumption_CoalDust] [bigint] NULL,
	[TeamA_Output_RawBatch] [bigint] NULL,
	[TeamA_Output_Clinker] [bigint] NULL,
	[TeamA_Output_CoalDust] [bigint] NULL,
	[TeamA_Output_Cogeneration] [bigint] NULL,
	[TeamA_ElectricityConsumption_RawBatch] [decimal](8, 2) NULL,
	[TeamA_ElectricityConsumption_RawBatchGrinding] [decimal](8, 2) NULL,
	[TeamA_ElectricityConsumption_Clinker] [decimal](8, 2) NULL,
	[TeamA_ElectricityConsumption_CoalDust] [decimal](8, 2) NULL,
	[TeamA_ComprehensiveElectricityConsumption] [decimal](8, 2) NULL,
	[TeamA_ComprehensiveCoalConsumption] [decimal](8, 2) NULL,
	[TeamB_Electricity_RawBatch] [bigint] NULL,
	[TeamB_Electricity_RawBatchGrinding] [bigint] NULL,
	[TeamB_Electricity_Clinker] [bigint] NULL,
	[TeamB_Electricity_CoalDust] [bigint] NULL,
	[TeamB_Consumption_CoalDust] [bigint] NULL,
	[TeamB_Output_RawBatch] [bigint] NULL,
	[TeamB_Output_Clinker] [bigint] NULL,
	[TeamB_Output_CoalDust] [bigint] NULL,
	[TeamB_Output_Cogeneration] [bigint] NULL,
	[TeamB_ElectricityConsumption_RawBatch] [decimal](8, 2) NULL,
	[TeamB_ElectricityConsumption_RawBatchGrinding] [decimal](8, 2) NULL,
	[TeamB_ElectricityConsumption_Clinker] [decimal](8, 2) NULL,
	[TeamB_ElectricityConsumption_CoalDust] [decimal](8, 2) NULL,
	[TeamB_ComprehensiveElectricityConsumption] [decimal](8, 2) NULL,
	[TeamB_ComprehensiveCoalConsumption] [decimal](8, 2) NULL,
	[TeamC_Electricity_RawBatch] [bigint] NULL,
	[TeamC_Electricity_RawBatchGrinding] [bigint] NULL,
	[TeamC_Electricity_Clinker] [bigint] NULL,
	[TeamC_Electricity_CoalDust] [bigint] NULL,
	[TeamC_Consumption_CoalDust] [bigint] NULL,
	[TeamC_Output_RawBatch] [bigint] NULL,
	[TeamC_Output_Clinker] [bigint] NULL,
	[TeamC_Output_CoalDust] [bigint] NULL,
	[TeamC_Output_Cogeneration] [bigint] NULL,
	[TeamC_ElectricityConsumption_RawBatch] [decimal](8, 2) NULL,
	[TeamC_ElectricityConsumption_RawBatchGrinding] [decimal](8, 2) NULL,
	[TeamC_ElectricityConsumption_Clinker] [decimal](8, 2) NULL,
	[TeamC_ElectricityConsumption_CoalDust] [decimal](8, 2) NULL,
	[TeamC_ComprehensiveElectricityConsumption] [decimal](8, 2) NULL,
	[TeamC_ComprehensiveCoalConsumption] [decimal](8, 2) NULL,
	[TeamD_Electricity_RawBatch] [bigint] NULL,
	[TeamD_Electricity_RawBatchGrinding] [bigint] NULL,
	[TeamD_Electricity_Clinker] [bigint] NULL,
	[TeamD_Electricity_CoalDust] [bigint] NULL,
	[TeamD_Consumption_CoalDust] [bigint] NULL,
	[TeamD_Output_RawBatch] [bigint] NULL,
	[TeamD_Output_Clinker] [bigint] NULL,
	[TeamD_Output_CoalDust] [bigint] NULL,
	[TeamD_Output_Cogeneration] [bigint] NULL,
	[TeamD_ElectricityConsumption_RawBatch] [decimal](8, 2) NULL,
	[TeamD_ElectricityConsumption_RawBatchGrinding] [decimal](8, 2) NULL,
	[TeamD_ElectricityConsumption_Clinker] [decimal](8, 2) NULL,
	[TeamD_ElectricityConsumption_CoalDust] [decimal](8, 2) NULL,
	[TeamD_ComprehensiveElectricityConsumption] [decimal](8, 2) NULL,
	[TeamD_ComprehensiveCoalConsumption] [decimal](8, 2) NULL,
	[Amountto_Electricity_RawBatch] [bigint] NULL,
	[Amountto_Electricity_RawBatchGrinding] [bigint] NULL,
	[Amountto_Electricity_Clinker] [bigint] NULL,
	[Amountto_Electricity_CoalDust] [bigint] NULL,
	[Amountto_Consumption_CoalDust] [bigint] NULL,
	[Amountto_Output_RawBatch] [bigint] NULL,
	[Amountto_Output_Clinker] [bigint] NULL,
	[Amountto_Output_CoalDust] [bigint] NULL,
	[Amountto_Output_Cogeneration] [bigint] NULL,
	[Amountto_ElectricityConsumption_RawBatch] [decimal](8, 2) NULL,
	[Amountto_ElectricityConsumption_RawBatchGrinding] [decimal](8, 2) NULL,
	[Amountto_ElectricityConsumption_Clinker] [decimal](8, 2) NULL,
	[Amountto_ElectricityConsumption_CoalDust] [decimal](8, 2) NULL,
	[Amountto_ComprehensiveElectricityConsumption] [decimal](8, 2) NULL,
	[Amountto_ComprehensiveCoalConsumption] [decimal](8, 2) NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[report_TeamClinkerYearlyProcessEnergyConsumption] ADD  DEFAULT (newid()) FOR [ID]
GO
